@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button-image/profile__button-image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__area/profile__area.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__edit-button-image/profile__edit-button-image.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__area/element__area.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__button/element__button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__profession/popup__profession.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__line/popup__line.css);
@import url(../blocks/popup/__area/popup__area.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__icon-close/popup__icon-close.css);
@import url(../blocks/popup/__icon-close-image/popup__icon-close-image.css);
